.wrapper {
  background: #151515;
}
.services {
  background-image: url('../images/breadcrumb-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 450px;
  padding-top: 230px;
  text-align: center;
}
ul li {
  display: list-item;
  list-style: none;
  color: #c4c4c4;
  font-size: 14px;
  color: #c4c4c4;
  line-height: 40px;
}
.courses h5 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 10px;
}
.services h2 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
}

.img {
  width: 200px;
}
.courses {
  padding-top: 20px;
  padding-bottom: 20px;
}

.courses h4,
.courses h3 {
  text-align: center;
}

.courses h4 {
  color: #ee6f57;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
}
.courses h3 {
  color: #ffffff;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8px;
}
