.services {
  background-image: url('../images/breadcrumb-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 450px;
  padding-top: 230px;
  text-align: center;
}

.services h2 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
}
