.footerContainer {
  background-color: #070d59;
  color: #f6f5f5;
  padding: 25px;
}
li {
  list-style: none;
}
ul {
  margin: 5px;
  padding: 5px;
}
a {
  color: #f6f5f5;
  text-decoration: none;
}
a:hover {
  color: #f6f5f5;
  text-decoration: none;
}
